*.conf
*.log
**env
\.*rc
*.swp
**.ropeproject
.DS_Store
.#*
*.pyc
**build
*.o
*.out
*.so
build/
target/
*.rdb
thechosenones/clip
thechosenones/clip_daemon
.pants.d/
.pids/
*.pex
rtmp
rotation
vgcore.*
zig-out
zig-cache
